### Perform the remaining data transformation techniques that i discusses in the theoritical live class. 

1. Dummy Encoding
2. Effect Encoding
3. Hash Encoding
4. Binary Encoding
5. BaseN Encoding
6. Target Encoding

#**Dummy Encoding**

In [113]:
import category_encoders as ce
import pandas as pd
data=pd.DataFrame({'Elements':['Fire','Water','Earth','Air','Fire','Water','Earth','Air','Air','Air']})

print(data, "\n") #Original Data

data_encoded=pd.get_dummies(data=data,drop_first=True) #drop_first=True because Dummy encoding uses N-1 features to represent N labels/categories.
data_encoded

  Elements
0     Fire
1    Water
2    Earth
3      Air
4     Fire
5    Water
6    Earth
7      Air
8      Air
9      Air

   Elements_Earth  Elements_Fire  Elements_Water
0               0              1               0
1               0              0               1
2               1              0               0
3               0              0               0
4               0              1               0
5               0              0               1
6               1              0               0
7               0              0               0
8               0              0               0
9               0              0               0

#**Effect Encoding**

Dummy encoding

In [114]:
import category_encoders as ce
import pandas as pd
data=pd.DataFrame({'City':['Delhi','Mumbai','Hydrabad','Chennai','Bangalore','Delhi','Hydrabad','Bangalore','Delhi']})

#Create object for one-hot encoding
encoder=ce.OneHotEncoder(cols='City',handle_unknown='return_nan',return_df=True,use_cat_names=True)

print(data, "\n") #Original Data

data_encoded = encoder.fit_transform(data) #Fit and transform Data
data_encoded

        City
0      Delhi
1     Mumbai
2   Hydrabad
3    Chennai
4  Bangalore
5      Delhi
6   Hydrabad
7  Bangalore
8      Delhi

   City_Delhi  City_Mumbai  City_Hydrabad  City_Chennai  City_Bangalore
0         1.0          0.0            0.0           0.0             0.0
1         0.0          1.0            0.0           0.0             0.0
2         0.0          0.0            1.0           0.0             0.0
3         0.0          0.0            0.0           1.0             0.0
4         0.0          0.0            0.0           0.0             1.0
5         1.0          0.0            0.0           0.0             0.0
6         0.0          0.0            1.0           0.0             0.0
7         0.0          0.0            0.0           0.0             1.0
8         1.0          0.0            0.0           0.0             0.0

Effect encoding

In [115]:
import category_encoders as ce
import pandas as pd
data=pd.DataFrame({'City':['Delhi','Mumbai','Hyderabad','Chennai','Bangalore','Delhi','Hyderabad']})
encoder=ce.sum_coding.SumEncoder(cols='City',verbose=False,)


print(data, "\n") #Original Data

encoder.fit_transform(data)

        City
0      Delhi
1     Mumbai
2  Hyderabad
3    Chennai
4  Bangalore
5      Delhi
6  Hyderabad

   intercept  City_0  City_1  City_2  City_3
0          1     1.0     0.0     0.0     0.0
1          1     0.0     1.0     0.0     0.0
2          1     0.0     0.0     1.0     0.0
3          1     0.0     0.0     0.0     1.0
4          1    -1.0    -1.0    -1.0    -1.0
5          1     1.0     0.0     0.0     0.0
6          1     0.0     0.0     1.0     0.0

#**Hash Encoding**

In [119]:
import category_encoders as ce
import pandas as pd

#Create the dataframe
data=pd.DataFrame({'Month':['January','April','March','April','Februay','June','July','June','September']})

print(data, "\n") #Original Data

#Create object for hash encoder
encoder=ce.HashingEncoder(cols='Month',n_components=7) #Hashing is the transformation of arbitrary size input in the form of a fixed-size value

encoder.fit_transform(data) #Fit and Transform Data

       Month
0    January
1      April
2      March
3      April
4    Februay
5       June
6       July
7       June
8  September

   col_0  col_1  col_2  col_3  col_4  col_5  col_6
0      0      0      0      0      0      1      0
1      0      0      1      0      0      0      0
2      0      0      0      0      0      0      1
3      0      0      1      0      0      0      0
4      0      0      1      0      0      0      0
5      0      1      0      0      0      0      0
6      1      0      0      0      0      0      0
7      0      1      0      0      0      0      0
8      0      1      0      0      0      0      0

#**Binary Encoding**

In [120]:
import category_encoders as ce
import pandas as pd

#Create the Dataframe
data=pd.DataFrame({'Digit':['Delhi','Mumbai','Hyderabad','Chennai','Bangalore','Delhi','Hyderabad','Mumbai','Agra']})

#Create object for binary encoding
encoder= ce.BinaryEncoder(cols=['Digit'],return_df=True)

print(data, "\n") #Original Data

#Fit and Transform Data 
data_encoded = encoder.fit_transform(data) 
data_encoded

       Digit
0      Delhi
1     Mumbai
2  Hyderabad
3    Chennai
4  Bangalore
5      Delhi
6  Hyderabad
7     Mumbai
8       Agra

   Digit_0  Digit_1  Digit_2
0        0        0        1
1        0        1        0
2        0        1        1
3        1        0        0
4        1        0        1
5        0        0        1
6        0        1        1
7        0        1        0
8        1        1        0

#**BaseN Encoding**

In [122]:
import category_encoders as ce
import pandas as pd

#Create the dataframe
data=pd.DataFrame({'City':['Delhi','Mumbai','Hyderabad','Chennai','Bangalore','Delhi','Hyderabad','Mumbai','Agra']})

#Create an object for Base N Encoding
encoder= ce.BaseNEncoder(cols=['City'],return_df=True,base=3) #Changes base according to the base argument

print(data, "\n") #Original Data

#Fit and Transform Data
data_encoded=encoder.fit_transform(data)
data_encoded

        City
0      Delhi
1     Mumbai
2  Hyderabad
3    Chennai
4  Bangalore
5      Delhi
6  Hyderabad
7     Mumbai
8       Agra

   City_0  City_1
0       0       1
1       0       2
2       1       0
3       1       1
4       1       2
5       0       1
6       1       0
7       0       2
8       2       0

#**Target Encoding**

In [123]:
import pandas as pd
import category_encoders as ce

#Create the Dataframe
data=pd.DataFrame({'class':['A','B','C','B','C','A','A','A'],'Marks':[50,30,70,80,45,97,80,68]})

#Create target encoding object
encoder=ce.TargetEncoder(cols='class') 

print(data, "\n") #Original Data

#Fit and Transform Train Data
encoder.fit_transform(data['class'],data['Marks'])

  class  Marks
0     A     50
1     B     30
2     C     70
3     B     80
4     C     45
5     A     97
6     A     80
7     A     68

       class
0  73.335024
1  57.689414
2  59.517061
3  57.689414
4  59.517061
5  73.335024
6  73.335024
7  73.335024