### Assignment based on Loop and previous lectures

Read carefully. You must submit two answer for each question. One using while loop and another using for loop.

1. Print your name 50 times

In [15]:
#Using While loop
i = 1
name = "Md. Rezuwan Hasssan"
while i <=50:
  print(name, end=' ')
  i += 1

print('\n')
print("For loop output starts from here")

#Using For loop
for i in range(0,50,1):
  print(name, end = ' ')
  i += 1

Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan

For loop output starts from here
Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan Md. Rezuwan Hasssan

2. Take a number n and print all the even numbers from 1 to n using for loop without checking condition.

In [17]:
#Using while loop
n = int(input("Insert a number: "))
i = 1
while i<=n:
  if i%2==0:
    print(i, end = ' ')
  i+= 1
print('\n')
print("For loop output starts from here")

#Using for loop
for i in range(1,n,1):
  if i%2==0:
    if i > 0:
      print(i, end = ' ')
if n%2==0:
  print(n)

Insert a number: 99
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

For loop output starts from here
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

3. Take n and m as input and print all the odd numbers from n to m using Loop.

In [18]:
#Using while loop
n = int(input("Insert a number: "))
m = int(input("Insert another number that is less than before: "))
p = m
while m<n:
  if m%2!=0:
    print(m, end = ' ')
  m+= 1

print('\n')
print("For loop output starts from here")

m = p
#Using for loop
for p in range(m,n,1):
  if p%2!=0:
    if p >= m:
      print(p, end = ' ')

Insert a number: 100
Insert another number that is less than before: 55
55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

For loop output starts from here
55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99


4. Find the sum of all Odd numbers from 1 to n using Loop.

In [19]:
#Using while loop
n = int(input("Insert a number: "))
i = 1
sum = 0
while i<=n:
  if i%2!=0:
    sum += i
  i+= 1
print("sum using while loop:", sum)
print('\n')
print("For loop output starts from here")
#Using for loop
sum = 0
for i in range(1,n,1):
  if i%2!=0:
    sum += i
print("sum using for loop:", sum)

Insert a number: 10
sum using while loop: 25


For loop output starts from here
sum using for loop: 25

5. Take a number n and find the average of the numbers from 1 to n and print the average.

In [20]:
#Using while loop
n = int(input("Insert a number: "))
i = 1
sum = 0
while i <= n:
  sum += i
  i+=1
avg = sum/n
print("Average from 1 to that number is =", avg)
print('\n')
print("For loop output starts from here")
#Using for loop
sum = 0
for i in range(1,n,1):
  sum +=i
sum = sum+n
avg = sum/n
print("Average from 1 to that number is =", avg)

Insert a number: 20
Average from 1 to that number is = 10.5


For loop output starts from here
Average from 1 to that number is = 10.5

6. Calculate the sum of the following series  3 + 6 + 9  + 12 + 15 + .......... + n

In [23]:
#Using while loop
i = 3
sum = 0
n = int(input("Insert a number: "))
while i <=n:
  sum += i
  i += 3
print("The sum of the  series 3 + 6 + 9 + 12 + 15 + .......... + n is =", sum)
print('\n')
print("For loop output starts from here")
#Using for loop
sum = 0
for i in range(3,n,3):
    sum += i
sum =sum+n
print("The sum of the  series 3 + 6 + 9 + 12 + 15 + .......... + n is =", sum)

Insert a number: 18
The sum of the  series 3 + 6 + 9 + 12 + 15 + .......... + n is = 63


For loop output starts from here
The sum of the  series 3 + 6 + 9 + 12 + 15 + .......... + n is = 63

7. print the even number from n to 1 using loop.

In [25]:
#Using while loop
n = int(input("Insert a number: "))
i = 1
sum = 0
while i<=n:
  if i%2==0:
    print(i,end=' ')
  i+= 1
print('\n')
print("For loop output starts from here")

#Using for loop
sum = 0
for i in range(1,n,1):
  if i%2==0:
    print(i,end=' ')
if n%2==0:
  print(n)

Insert a number: 20
2 4 6 8 10 12 14 16 18 20

For loop output starts from here
2 4 6 8 10 12 14 16 18 20

8. find the numbers from 1 to n that are divisable by 3 and multiple of 5.

In [33]:
#Using while loop
i = 1
n = int(input("Insert a number: "))
while i <= n:
  if i%3==0 and i%5==0:
    print(i, end =' ')
  i+= 1
print('\n')
print("For loop output starts from here")
#Using for loop
for i in range(1,n,1):
  if i%3==0 and i%5==0:
    if i >0:
      print(i, end =' ')
if n%3==0 and n%5==0:
  print(n)

Insert a number: 100
15 30 45 60 75 90

For loop output starts from here
15 30 45 60 75 90

9. Take a number n as input and find the divisor of the number.

In [36]:
#Using while loop
i = 1
n = int(input("Insert a number: "))
while i <= n:
  if n%i==0:
    print(i, end =' ')
  i+= 1
print('\n')
print("For loop output starts from here")
#Using for loop
for i in range(1,n,1):
  if n%i==0:
    print(i, end =' ')
print(n)

Insert a number: 1000
1 2 4 5 8 10 20 25 40 50 100 125 200 250 500 1000

For loop output starts from here
1 2 4 5 8 10 20 25 40 50 100 125 200 250 500 1000

10. Find the factorial of n, here take n as input.

In [43]:
#Using while loop
k = 1
n = int(input('Insert a number: '))
p = n
while n>1:
  if n != 0:
    k = k*n
    n-=1
print(k)
print('\n')
print("For loop output starts from here")
#Using for loop
k = 1
n=p
for i in range(1,n+1):
  k = k*i
print(k)

Insert a number: 10
3628800


For loop output starts from here
3628800